Truking.CRM.WinSrv/Web References/cn.truking.sappodev.selectsorder/SI_SEL_SORDER_OUT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="urn:erp:select_sorder" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_SEL_SORDER_OUT" targetNamespace="urn:erp:select_sorder" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_SEL_SORDER_OUT" />
  <wsdl:types>
    <xsd:schema xmlns="urn:erp:select_sorder" targetNamespace="urn:erp:select_sorder" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_SEL_SORDER_REQ" type="p1:DT_SEL_SORDER_REQ" />
      <xsd:element name="MT_SEL_SORDER_RSP" type="p1:DT_SEL_SORDER_RSP" />
      <xsd:complexType name="DT_SEL_SORDER_RSP">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">a09fd32f320e11eca3c10000001b7af6</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ET_RETURN" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_SEL_SORDER_REQ">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">806a7628320e11ecb8280000001b7af6</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="IT_DATA" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">2c18bfc91b5611ec9224be8385eb50a7</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_SEL_SORDER_REQ">
    <wsdl:documentation />
    <wsdl:part name="MT_SEL_SORDER_REQ" element="p1:MT_SEL_SORDER_REQ" />
  </wsdl:message>
  <wsdl:message name="MT_SEL_SORDER_RSP">
    <wsdl:documentation />
    <wsdl:part name="MT_SEL_SORDER_RSP" element="p1:MT_SEL_SORDER_RSP" />
  </wsdl:message>
  <wsdl:portType name="SI_SEL_SORDER_OUT">
    <wsdl:documentation />
    <wsdl:operation name="SI_SEL_SORDER_OUT">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_SEL_SORDER_OUT" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_SEL_SORDER_REQ" />
      <wsdl:output message="p1:MT_SEL_SORDER_RSP" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_SEL_SORDER_OUTBinding" type="p1:SI_SEL_SORDER_OUT">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_SEL_SORDER_OUT">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_SEL_SORDER_OUTService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_SEL_SORDER_OUTBinding">
      <address location="http://sappodev.truking.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_ERP_S4&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SEL_SORDER_OUT&amp;interfaceNamespace=urn%3Aerp%3Aselect_sorder" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_SEL_SORDER_OUTBinding">
      <address location="https://sappodev.truking.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_ERP_S4&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SEL_SORDER_OUT&amp;interfaceNamespace=urn%3Aerp%3Aselect_sorder" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>